<div class="task-item">
    <li class="list-group-item">
        <div class="row">
            <div class="col-1"><input (change)="onToggle()" type="checkbox" [(ngModel)]="isChecked"></div>
            <div class="col-6">
                <span id="title" [ngClass]="setDecorClass()"> {{ task.title }} </span>
                <div class="priority" [ngClass]="setPriorityClass()">.</div>
                <span class="due">{{ "Due: " + task.dueDate.substring(8,10) + "/" + task.dueDate.substring(5,7) }}</span>
            </div>
            <div class="col-3">
                <span class="label-badge" [ngClass]="setLabelClass()">
                    {{ task.label | lowercase }}
                </span>
            </div>
            <div class="col-2">
                <button type="button" 
                    (click)="deleteTask()" 
                    class="btn btn-outline-danger">
                    <i class="fa fa-trash"></i>
                </button>
                <button type="button" 
                    (click)="editTask()"
                    data-toggle="modal" data-target="#update-task"
                    class="btn btn-outline-danger">
                    <i class="fa fa-edit"></i>
                </button>
            </div>
        </div>
    </li>
</div>