<div style="width: 20%">
    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#new-task">New task</button>

    <div class="modal fade bd-example-modal-lg" id="new-task" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <h5 class="modal-title">
                    Details 
                    <span class="modal-close-btn" data-dismiss="modal"><i class="fa fa-times"></i></span>
                </h5>
                <br>
                <div class="modal-body">
                    <form (submit)="addTask($event)">
                        <div class="row">
                            <div class="col-2">
                                <label for="title" class="col-form-label">Title</label>
                            </div>
                            <div class="col-10">
                                <input style="width: 100%" type="text" [(ngModel)]="title" name="title" id="title" placeholder="Enter task title">
                            </div>                           
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-2">
                                <label for="date" class="col-form-label">Due date</label>
                            </div>
                            <div class="col-3">
                                <input [(ngModel)]="date" name="date" type="date" id="date" placeholder="test">
                            </div>                           
                        </div>
                        <br>
                        <div class="row">
                            <div class="input-group col-4">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="priority">Priority</label>
                                </div>
                                <select class="custom-select" [(ngModel)]="priority" name="priority" id="priority">
                                    <option selected>-</option>
                                    <option value="High">High</option>
                                    <option value="Medium">Medium</option>
                                    <option value="Low">Low</option>
                                </select>
                            </div>

                            <div class="input-group col-4">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="label">Label</label>
                                </div>
                                <select class="custom-select" [(ngModel)]="label" name="label" id="label">
                                    <option selected>-</option>
                                    <option value="Personal">Personal</option>
                                    <option value="Work">Work</option>
                                    <option value="Shopping">Shopping</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>

                            <div class="input-group col-4">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="status">Status</label>
                                </div>
                                <select class="custom-select" [(ngModel)]="status" name="status" id="status">
                                    <option selected>-</option>
                                    <option value="New">New</option>
                                    <option value="In Progress">In Progress</option>
                                    <option value="Completed">Completed</option>
                                </select>
                            </div>
                        </div>
                        <br><hr><br>
                        <div class="row" style="justify-content: center;">
                            <div><button type="submit" class="btn btn-outline-danger">Add</button></div>
                            <div class="center-btn"><button type="reset" class="btn btn-outline-danger">Reset</button></div>
                            <div><button type="button" data-dismiss="modal" class="btn btn-outline-danger">Close</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
