<app-navbar></app-navbar>
<div class="container">
    <flash-messages></flash-messages>
    <div class="col-5 m-auto">
        <form class="form-signin" (submit)="onLoginSubmit($event)">
            <br><br>
            <h3 style="text-align: center;">Login</h3>
            <br><br>
            <h5>Username</h5>
            <input type="text" id="inputUsername" [(ngModel)]="username" name="username" class="form-control" placeholder="Enter username" required autofocus  autocomplete="off">
            <br>
            <h5>Password</h5>
            <input type="password" id="inputPassword" [(ngModel)]="password" name="password" class="form-control" placeholder="Enter password" required>
            <br><br>
            <button class="col-3 m-auto btn btn-lg btn-block" type="submit">Login</button>
        </form>
    </div>
</div>