.task-item {
    border: rgb(58, 58, 58, 0.2) solid 1px;
    border-radius: 3px;
    margin-bottom: 1px;
    background: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
    transition: 0.5s;
}

.darkTheme {
    background: #272727;
    transition: 0.5s;
    box-shadow: 0 5px 8px rgb(10, 10, 10), 0 3px 3px rgb(10, 10, 10);
}

.list-group-item {
    border: none;
    color: #2c003e;
    transition: 0.5s;
}

.darkTheme .list-group-item {
    background: #272727;
    color: white;
    transition: 0.5s;
}

.priority {
    display: inline;
    padding: 3px 10px 3px 10px;
    background: rgb(248, 162, 2, 0.5);
    border-radius: 10px;
    font-size: 15px;
}

.strikeThrough {
    text-decoration: line-through;
    opacity: 0.5;
}

/* #DE3618
#EEC200
#50B83C */
.highPriority{
    background: rgba(222, 54, 24, 0.5);
}
.medPriority{
    background: rgba(238, 194, 0, 0.5);
}
.lowPriority{
    background: rgba(81, 184, 60, 0.5);
}

.label {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: transparent;
    text-align: center;
    color: black;
    font-size: 25px;
}
.label span {
    vertical-align: center;
}
.l-ff304f {
    color: #ff304f;
}
.l-002651 {
    color: #002651;
}
.l-107a8b {
    color: #107a8b;
}
.l-85203b {
    color: #85203b;
}

#taskOptions {
    border-radius: 50%;
    background: transparent;
    width: 35px;
    height: 35px;
}
#taskOptions:focus {
    outline: none;
}

#taskOptions i {
    vertical-align: middle;
    color: #e42c64;
}

.darkTheme #taskOptions i {
    color: #29a19c;
}