.sidenav-contents {
    position: relative;
    height: 100%;
    justify-content: center;
}

button.btn {
    width: 120px;
    color: #e42c64 /* 2c003e #424874 */;
    border: #e42c64 /* 2c003e #424874 */ solid 1px;
    outline: none;
    transition: 0.5s;
}
button.btn:hover {
    background: #e42c64 /* 424874 */;
    color: white;
}
button.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}
button.btn:active {
    outline: none !important;
    box-shadow: none !important;
    background: #e42c64 /* 424874 */ ;
    color: white;
}

.darkTheme button.btn {
    color: #29a19c /* #424874 */;
    border: #29a19c /* #424874 */ solid 1px;
    transition: 0.5s;
}
.darkTheme button.btn:hover {
    background: #29a19c;
    color: white;
}
.darkTheme button.btn:active {
    background: #29a19c ;
}

.profile-block {
    text-align: center;
    justify-content: center;
}

#profilePicture {
    display: block;
    margin: 0 !important;
    width: 150px;
    height: 150px;
    background: grey;
    border-radius: 50%;
}

.account-badge {
    background: #e42c64;
    color: white;
    font-weight: normal;
    font-style: italic;
    transition: 0.5s;
}
.darkTheme .account-badge {
    background: #29a19c;
    transition: 0.5s;
}

.card {
    background: white;
    transition: 0.5s;
    color: #2c003e;
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}
.darkTheme .card {
    background: #252525;
    color: white;
    box-shadow: 0 5px 8px rgb(10, 10, 10), 0 3px 3px rgb(10, 10, 10);
    transition: 0.5s;
}

#level-badge {
    font-size: 16px;
    font-weight: normal;
    box-shadow: 0 2px 3px rgba(0,0,0,0.19), 0 1px 3px rgba(0,0,0,0.23);
    transition: 0.5s;
}
.darkTheme #level-badge {
    box-shadow: 0 2px 3px rgb(10, 10, 10), 0 1px 3px rgb(10, 10, 10);
    transition: 0.5s;
}

.progress {
    background: white;
    box-shadow: 0 2px 3px rgba(0,0,0,0.19), 0 1px 3px rgba(0,0,0,0.23);
    transition: 0.5s;
}
.darkTheme .progress {
    box-shadow: 0 2px 3px rgb(10, 10, 10), 0 1px 3px rgb(10, 10, 10);
    transition: 0.5s;
}
.progress-bar-striped {
    background: #2c003e;
    transition: 0.5s;
}
.darkTheme .progress-bar-striped {
    background: #29a19c;
    transition: 0.5s;
}

.fa-edit:hover {
    cursor: pointer;
    color: blue;
}

.card-body p {
    margin-bottom: 0 !important;
}

div.label-container {
    overflow:auto;
    white-space: nowrap;
}
div.label-container::-webkit-scrollbar {
    display: none;
}
div.label-container {
-ms-overflow-style: none;
}

.label-badge {
    background: black;
    color: white;
    font: 16px;
    font-weight: normal;
    padding: 2px 8px 2px 8px;
    margin-right: 5px;
    margin-left: 5px;
}

.fa-plus {
    float: right;
}
.fa-plus:hover {
    color: blue;
    cursor: pointer;
}

.logoutButton {
    position: absolute;
    bottom: 30px;
    width: inherit;
    justify-content: center;
}

button {
    width: 100px;
}