<app-navbar></app-navbar>
<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Square Away</h1>
        <p class="lead">Square Away is a task manager web-app built using the MEAN stack.</p>
        <hr class="my-4">
        <a class="btn btn-outline-primary btn-lg" id="login" [routerLink]="['/login']" role="button">Login</a>
        <a class="btn btn-outline-primary btn-lg" id="register" [routerLink]="['/register']" role="button">Register</a>
    </div>
</div>