<app-navbar></app-navbar>
<div class="container">
    <div class="text-center">
        <br><br>
        <h1 class="display-4">Square Away</h1>
        <br><br><br>
        <h5>Square Away is a task manager web-app built using the MEAN stack. 
            <br>It allows users to add, view, edit, update, delete, filter, search and sort tasks, 
            <br>all under an umbrella of exceptional user experience and additional
            hidden features. </h5>
        <br><br>
        <h5>Login/Register and get ready to square away all your tasks!</h5>
        <hr class="my-4">
        <br>
        <a class="btn btn-lg" id="login" [routerLink]="['/login']" role="button">Login</a>
        <a class="btn btn-lg" id="register" [routerLink]="['/register']" role="button">Register</a>
    </div>
</div>