<div class="card card-body" [ngClass]="toggleTheme()">
    <form (submit)="onSubmit()">
        <h4>Search using:</h4>
        <br>
        <div class="form-row">
            <div class="col-12">
                <input class="form-control" [(ngModel)]="searchTitle" name="searchTitle" type="text" placeholder="Title / Keywords">
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="input-group col-4">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="priority">Priority</label>
                </div>
                <select class="custom-select mr-sm-2" [(ngModel)]="searchPriority" name="searchPriority" id="searchPriority">
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                </select>
            </div>
            <div class="input-group col-4">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="priority">Label</label>
                </div>
                <select class="custom-select mr-sm-2" [(ngModel)]="searchLabel" name="searchLabel" id="searchLabel">
                    <option value="Personal">Personal</option>
                    <option value="Work">Work</option>
                    <option value="Shopping">Shopping</option>
                    <option value="Others">Others</option>
                </select>
            </div>
            <div class="input-group col-4">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="priority">Status</label>
                </div>
                <select class="custom-select mr-sm-2" [(ngModel)]="searchStatus" name="searchStatus" id="searchStatus">
                    <option value="New">New</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Completed">Completed</option>
                </select>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-12">
                <button type="submit" class="btn">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>
        
    
