.col-12 {
    text-align: center;
    justify-content: center;
}

.card {
    background: white;
    transition: 0.5s;
    color: #2c003e;
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}
.darkTheme {
    background: #252525;
    color: white;
    box-shadow: 0 5px 8px rgb(10, 10, 10), 0 3px 3px rgb(10, 10, 10);
    transition: 0.5s;
}

button {
    width: 120px;
    color: #e42c64 /* 2c003e #424874 */;
    border: #e42c64 /* 2c003e #424874 */ solid 1px;
    outline: none;
    transition: 0.5s;
}
button:hover {
    background: #e42c64 /* 424874 */;
    color: white;
}
button:focus {
    outline: none !important;
    box-shadow: none !important;
}
button:active {
    outline: none !important;
    box-shadow: none !important;
    background: #e42c64 /* 424874 */ ;
    color: white;
}

.darkTheme button {
    color: #29a19c /* #424874 */;
    border: #29a19c /* #424874 */ solid 1px;
    transition: 0.5s;
}
.darkTheme button:hover {
    background: #29a19c;
    color: white;
}
.darkTheme button:active {
    background: #29a19c ;
}