<div class="modal fade bd-example-modal-lg" id="view-task" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document" [ngClass]="toggleTheme()">
        <div class="modal-content">
            <h5 class="modal-title">
                VIEW TASK 
                <span class="modal-close-btn" data-dismiss="modal"><i class="fa fa-times"></i></span>
            </h5>
            <br>
            <div class="modal-body">
                Task title: {{ task.title }}<br>
                Due Date: {{ date }}<br>
                Priority: {{ task.priority }}<br>
                Label: {{ task.label }}<br>
                Status: {{ task.status }}
            </div>
        </div>
    </div>
</div>
